* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}



.container {
    width: 100%;
    height: 100vh;
    background:black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(Poloroid/Tree.JPG);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 1s;
}

.img-box:nth-child(2) {
    background: url(Poloroid/Friends.JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background: url(Poloroid/DE\(B+W\).JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background: url(Poloroid/Art.JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(5) {
    background: url(Poloroid/Flowers.JPG);
    background-size: cover;
    background-position: center;

}

.img-box:nth-child(6) {
    background: url(Poloroid/LP\(Luke\).JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(7) {
    background: url(Poloroid/Fairground.JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(8) {
    background: url(Poloroid/DE\(Chuck\).JPG);
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(9) {
    background: url(Poloroid/Smoking.JPG);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(10) {
    background: url(Poloroid/CR.JPG);
    background-size: cover;
    background-position: center;
}


.img-box:hover {
    width: 500px;
    cursor: pointer;
}